<div class="tickets">
    <div *ngFor="let offer of flightsData" class="c-flights_ticket">
        <div class="c-flights_ticket-container">
            <div class="c-flights_ticket-content" theme="secondary">
                <div class="c-flights_ticket-summary">
                    <div class="c-flights_ticket-summary-content">
                        <div class="c-flights_ticket-summary-header">
                        </div>
                        <div class="c-flights_ticket-summary-segments">
                            <segment *ngFor="let segmentData of offer.segments" [segment]="segmentData"></segment>
                        </div>
                    </div>
                    <div class="c-flights_ticket-summary-deal">
                        <div class="c-flights_ticket-summary-deal-main">
                            <div class="c-flights_ticket-summary-deal-prices">
                                <div class="c-flights_ticket-summary-deal-price c-flights_ticket-summary-deal-price--single">{{ offer.price | priceformat }} {{ offer.currency }}</div>
                            </div>
                        </div>
                        <div class="c-flights_ticket-summary-deal-footer">
                            <div (click)="redirectToVendor(offer.deeplink)" class="c-flights_ticket-summary-deal-button c-button c-push_button" theme="redirect">
                                <div class="c-button-layers">
                                    <div class="c-button-outline"></div>
                                    <div class="c-button-fill"></div>
                                </div>
                                <div class="c-button-content">
                                    Book
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>