<div class="c-flights_ticket-summary-segment">
    <div class="c-flights_ticket-summary-segment-carriers">
        {{ segment.AirlineIcao}}
    </div>
    <div class="c-flights_ticket-summary-segment-location c-flights_ticket-summary-segment-location--origin">
        <div class="c-flights_ticket-summary-segment-iata_time">
            <div class="c-flights_ticket-summary-segment-iata">{{ segment.OriginIata }}</div>
            <div class="c-flights_ticket-summary-segment-time">{{ segment.Departure | date : 'HH:mm' }}</div>
        </div>
        <div class="c-flights_ticket-summary-segment-place">{{ segment.OriginDisplayName }}</div>
    </div>
    <div class="c-flights_ticket-summary-segment-route">
        <div class="c-flights_ticket_route">
            <div class="c-flights_ticket_route-container">
                <div class="c-flights_ticket_route-duration">{{ segment.Duration | min2duration}}</div>
                <div class="c-flights_ticket_route-stops">
                    <svg class="c-flights_ticket_route-stops-svg" width="100%" height="20" focusable="false">
                        <line class="c-flights_ticket_route-stops-svg-line" x1="2" y1="3" x2="100%" y2="3" stroke-width="2" transform="translate(-1)" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="c-flights_ticket-summary-segment-location c-flights_ticket-summary-segment-location--destination">
        <div class="c-flights_ticket-summary-segment-iata_time">
            <div class="c-flights_ticket-summary-segment-iata"> {{ segment.DestinationIata }} </div>
            <div class="c-flights_ticket-summary-segment-time"> {{ segment.Arrival | date : 'HH:mm'  }} </div>
        </div>
        <div class="c-flights_ticket-summary-segment-place">{{ segment.DestinationDisplayName }}</div>
    </div>
</div>